<div class="card col-6 mr-auto ml-auto mt-5 mb-5">
  <div class="card-body">
    <% if notice != nil %>
      <p class="alert alert-primary" id="notice"><%= notice %></p>
    <% end %>

    <p>
      Имя:
      <%= @question.name %>
    </p>

    <p>
      Вопрос:
      <%= @question.question %>
    </p>

    <p>
      Контакты:
      <%= @question.contacts %>
    </p>

    <div class="d-flex justify-content-between mt-4 mb-3">
      <%= link_to 'Назад', questions_path, :class => 'btn btn-outline-primary' %>
    </div>
  </div>
</div>
