<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center col-9 mr-auto ml-auto mt-4 mb-5">
  <h1 class="h1-index">Задания</h1>
  <div class="actions">
    <%= link_to 'Разместить задание', new_task_path, :class => 'btn btn-primary' %>
  </div>
</div>

<div class="d-flex flex-wrap col-9 m-auto justify-content-between">
  <% @tasks.each do |task| %>
    <div class="card mb-5" style="width: 18rem;">
      <div class="card-body">
        <p>Название компании: <%= task.company_name %></p>
        <p>На позицию: <%= task.position %></p>
        <p>Цена за выполнение задания: <%= task.salary %> рублей</p>
        <p>Дедлайн заявки:
          <% if task.deadline_none == true %>
            <%= "Бессрочно" %>
          <% else %>
            <%= task.deadline %>
          <% end %>
        </p>

        <div class="actions">
          <%= link_to 'Подробнее', task, :class => 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
