<div class="card col-6 mr-auto ml-auto mt-5 mb-5">
  <div class="card-body">
    <% if notice != nil %>
      <p class="alert alert-primary" id="notice"><%= notice %></p>
    <% end %>

    <h5 class="card-title">О компании</h5>

    <p>
      Название компании:
      <%= @task.company_name %>
    </p>

    <p>
      Сфера деятельности компании:
      <%= @task.company_specialty %>
    </p>

    <p>
      О компании:
      <%= @task.company_description %>
    </p>

    <p>
      Сайт/соцсети компании:
      <%= @task.social_network_link %>
    </p>

    <h5 class="card-title">Техническое задание</h5>

    <p>
      Нужен:
      <%= @task.position %>
    </p>

    <p>
      Описание задания:
      <%= @task.task_description %>
    </p>

    <p>
      <%= link_to "Скачать материалы,", @task.task_materials_url %>
      которые будут полезны при выполнении задания
    </p>

    <p>
      Сроки выполнения задания:
      <% if @task.deadline_none == true %>
        <%= "Бессрочно" %>
      <% else %>
        <%= @task.deadline %>
      <% end %>
    </p>

    <p>
      Цена за выполнение задания:
      <%= @task.salary %>
    </p>

    <p>
      Цена за правку:
      <%= @task.correction_charge %>
    </p>

    <p>
      Что предлагают вместо оплаты:
      <%= @task.barter %>
    </p>

    <div class="d-flex justify-content-between mt-4 mb-3">
      <%= link_to 'Назад', tasks_path, :class => 'btn btn-outline-primary' %>
      <div class="actions">
        <%= link_to 'Редактировать', edit_task_path(@task), :class => 'btn btn-primary' %>
        <%= link_to 'Закрыть вакансию', task_path(@task), :class => 'btn btn-dark' %>
      </div>
    </div>
  </div>
</div>
