<%= form_with(model: @job, local: true, :class => 'col-6 m-auto') do |form| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="mb-4">Заявка</h1>

  <div class="field form-group">
    <%= form.label "Куда отправить заявку?" %>
    <%= form.text_field :application_contacts, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label "Что нужно прислать?" %>
    <%= form.text_area :application_description, :class => 'form-control', 'aria-label' => 'With textarea' %>
    <small id="application_descriptionHelp" class="form-text text-muted">Что вам нужно: портфолио, резюме, тестовое задание или все вместе? Детально опишите требования.</small>
  </div>

  <div class="field form-group">
    <%= form.label "Материалы, которые будут полезны при выполнении тестового задания"  %>
    <%= form.file_field :application_materials, :type => 'file', :class => 'form-control-file' %>
    <small id="application_materialsHelp" class="form-text text-muted">Если есть.</small>
  </div>

  <%= form.label "Дедлайн" %>
  <div class="field form-group">
    <div class="d-flex justify-content-between">
      <div class="input-group col">
        <%= date_select :job, :deadline,
                 {
                  :order => [:day, :month, :year],
                  :start_year => 2018,
                  :end_year => 2030
                 },
                 {:class => "custom-select"}  %>
      </div>
      <div>
        <%= form.check_box :deadline_none, {}, true, false %>
        <%= form.label "Бессрочно" %>
      </div>
    </div>
  </div>

  <div class="field form-group">
    <% form.label :status %>
    <% form.number_field :status %>
  </div>

  <%#= form.number_field :step, value: 3 %>
  <%= form.hidden_field :step, value: 3 %>

  <div class="d-flex justify-content-between mt-4 mb-5">
      <%= link_to 'Назад', new_step_2_job_path, :class => 'btn btn-outline-primary' %>
      <div class="actions">
        <%= form.submit 'Разместить вакансию', :class => 'btn btn-primary' %>
      </div>
  </div>
<% end %>
