<div class="card col-6 mr-auto ml-auto mt-5 mb-5">
  <div class="card-body">
    <% if notice != nil %>
      <p class="alert alert-primary" id="notice"><%= notice %></p>
    <% end %>

    <h5 class="card-title">О компании</h5>

    <p>
      Название компании:
      <%= @job.company_name %>
    </p>

    <p>
      Сфера деятельности компании:
      <%= @job.company_specialty %>
    </p>

    <p>
      О компании:
      <%= @job.company_description %>
    </p>

    <p>
      Сайт/соцсети компании:
      <%= @job.social_network_link %>
    </p>

    <h5 class="card-title">Требования к работнику</h5>

    <p>
      На позицию:
      <%= @job.position %>
    </p>

    <p>
      Количество мест:
      <%= @job.places_available %>
    </p>

    <p>
      Задачи работника:
      <%= @job.worker_tasks %>
    </p>

    <p>
      Особые требования:
      <%= @job.special_requirements %>
    </p>

    <p>
      Начало работы:
      <%= @job.work_start_date %>
    </p>

    <p>
      Занятость:
      <%= @job.schedule %>
    </p>

    <p>
      Зарплата: от
      <%= @job.salary_min %>
      до
      <%= @job.salary_max %>
      рублей в месяц
    </p>

    <p>
      Условия:
      <%= @job.conditions %>
    </p>

    <h5 class="card-title">Заявка</h5>

    <p>
      Заявку отправлять по адресу:
      <%= @job.application_contacts %>
    </p>

    <p>
      Описание заявки:
      <%= @job.application_description %>
    </p>

    <p>
      <%= link_to "Скачать материалы,", @job.application_materials_url %>
      которые будут полезны при выполнении тестового задания
    </p>

    <p>
      Дедлайн для заявки:
      <% if @job.deadline_none == true %>
        <%= "Бессрочно" %>
      <% else %>
        <%= @job.deadline %>
      <% end %>
    </p>

    <div class="d-flex justify-content-between mt-4 mb-3">
      <%= link_to 'Назад', jobs_path, :class => 'btn btn-outline-primary' %>
      <div class="actions">
        <%= link_to 'Редактировать', edit_job_path(@job), :class => 'btn btn-primary' %>
        <%= link_to 'Закрыть вакансию', job_path(@job), :class => 'btn btn-dark' %>
      </div>
    </div>
  </div>
</div>
