<%= form_with(model: public_talk, local: true) do |form| %>
  <% if public_talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(public_talk.errors.count, "error") %> prohibited this public_talk from being saved:</h2>

      <ul>
      <% public_talk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :theme %>
    <%= form.text_field :theme %>
  </div>

  <div class="field">
    <%= form.label :speaker %>
    <%= form.text_field :speaker %>
  </div>

  <div class="field">
    <%= form.label :public_talk_date %>
    <%= form.date_select :public_talk_date %>
  </div>

  <div class="field">
    <%= form.label :speaker_contacts %>
    <%= form.text_field :speaker_contacts %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
