<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center col-8 mr-auto ml-auto mt-4 mb-5">
  <h1 class="h1-index">Запросы на гостевые лекции</h1>
  <div class="actions">
    <%= link_to 'Отправить запрос', new_public_talk_path, :class => 'btn btn-primary' %>
  </div>
</div>

<div class="d-flex flex-wrap col-8 m-auto justify-content-between">
  <% @public_talks.each do |public_talk| %>
    <div class="card mb-5" style="width: 27rem;">
      <div class="card-body">
        <p>Тема лекции: <%= public_talk.theme %></p>
        <p>Лектор: <%= public_talk.speaker %></p>
        <p>Предполагаемая дата: <%= public_talk.public_talk_date %></p>
        <p>Контакты лектора: <%= public_talk.speaker_contacts %></p>
      </div>
    </div>
  <% end %>
</div>
