<p id="notice"><%= notice %></p>

<h1>Public Talks</h1>

<table>
  <thead>
    <tr>
      <th>Theme</th>
      <th>Speaker</th>
      <th>Public talk date</th>
      <th>Speaker contacts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @public_talks.each do |public_talk| %>
      <tr>
        <td><%= public_talk.theme %></td>
        <td><%= public_talk.speaker %></td>
        <td><%= public_talk.public_talk_date %></td>
        <td><%= public_talk.speaker_contacts %></td>
        <td><%= link_to 'Show', public_talk %></td>
        <td><%= link_to 'Edit', edit_public_talk_path(public_talk) %></td>
        <td><%= link_to 'Destroy', public_talk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public Talk', new_public_talk_path %>
