<div class="card col-6 mr-auto ml-auto mt-5 mb-5">
  <div class="card-body">
    <% if notice != nil %>
      <p class="alert alert-primary" id="notice"><%= notice %></p>
    <% end %>

    <p>
      Тема лекции:
      <%= @public_talk.theme %>
    </p>

    <p>
      Лектор:
      <%= @public_talk.speaker %>
    </p>

    <p>
      Предполагаемая дата:
      <%= @public_talk.public_talk_date %>
    </p>

    <p>
      Контакты лектора:
      <%= @public_talk.speaker_contacts %>
    </p>

    <div class="d-flex justify-content-between mt-4 mb-3">
      <%= link_to 'Назад', public_talks_path, :class => 'btn btn-outline-primary' %>
    </div>
  </div>
</div>
