<%= form_with(model: internship, local: true, :class => 'col-6 m-auto' ) do |form| %>
  <% if internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internship.errors.count, "error") %> prohibited this internship from being saved:</h2>

      <ul>
      <% internship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="mb-4">О компании</h1>

  <div class="field form-group">
    <%= form.label "Ваш email" %>
    <%= form.text_field :email, :class => 'form-control' %>
    <small id="emailHelp" class="form-text text-muted">Будьте внимательны. Редактировать или закрыть вакансию можно только по ссылке, высланной на этот адрес.</small>
  </div>

  <div class="field form-group">
    <%= form.label "Название компании" %>
    <%= form.text_field :company_name, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label "Сфера деятельности компании" %>
    <%= form.select :company_specialty, options_for_select([["IT"], ["Дизайн"], ["Искусство"], ["Развлечения"], ["Промышленность"], ["Маркетинг"]]), {}, {:class => 'custom-select'}%>
  </div>

  <div class="field form-group">
    <%= form.label "Опишите компанию" %>
    <%= form.text_area :company_description, :class => 'form-control', 'aria-label' => 'With textarea' %>
    <small id="company_descriptionHelp" class="form-text text-muted">Перечислите особенности вашей компании, клиенты, проекты. Почему студентам стоит выбрать именно вас?</small>
  </div>

  <div class="field form-group">
    <%= form.label "Сайт/соцсети компании" %>
    <%= form.text_field :social_network_link, :class => 'form-control' %>
  </div>

  <h1>Требования к стажеру</h1>
  <small id="h1Help" class="form-text text-muted mb-4">Максимально подробно опишите, что вы ожидаете от кандидата</small>

  <div class="field form-group">
    <%= form.label "На какую позицию?" %>
    <%= form.text_field :position, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label "Сколько человек вы ищете?" %>
    <%= form.number_field :places_available, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label "Что стажер должен делать?" %>
    <%= form.text_area :intern_tasks, :class => 'form-control', 'aria-label' => 'With textarea' %>
    <small id="intern_tasksHelp" class="form-text text-muted">Опишите как можно подробнее задачи стажера, так студентам будет легче понять, что от них хотят.</small>
  </div>

  <div class="field form-group flex-column">
    <div>
      <%= form.label "Сколько длится стажировка?" %>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <%= form.text_field :internship_duration, :class => 'form-control' %>
      </div>
      <div>
        <%= form.check_box :internship_duration_none, {}, "1", "0" %>
        <%= form.label "Бессрочно" %>
        </div>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label "Занятость" %>
    <%= form.select :schedule, options_for_select([["Полная"], ["Частичная"], ["Удаленная"], ["Смешанная"]]), {}, {:class => 'custom-select'} %>
  </div>

  <div class="field form-group">
    <div class="d-flex justify-content-between">
      <%= form.label "Сколько будет получать стажер?" %>
      <div>
        <%= form.check_box :salary_none, {}, "1", "0" %>
        <%= form.label "Стажировка не оплачивается" %>
      </div>
    </div>

    <div class="form-group d-flex align-items-center">
      <%= form.label "От", :class => 'col-sm-1'%>
      <%= form.text_field :salary_min, :class => 'form-control col-sm-2', :placeholder => "10 000" %>

      <%= form.label "До", :class => 'col-sm-1'%>
      <%= form.text_field :salary_max, :class => 'form-control col-sm-2', :placeholder => "50 000" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label "Что предлагаете вы?" %>
    <%= form.text_area :conditions, :class => 'form-control', 'aria-label' => 'With textarea' %>
    <small id="conditionsHelp" class="form-text text-muted">Условия стажировки, возможность дальнейшего трудоустройства, офис, команда, плюшки.</small>
  </div>

  <h1 class="mb-4">Заявка</h1>

  <div class="field form-group">
    <%= form.label "Куда отправить заявку?" %>
    <%= form.text_field :application_contacts, :class => 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label "Что нужно прислать?" %>
    <%= form.text_area :application_description, :class => 'form-control', 'aria-label' => 'With textarea' %>
    <small id="application_descriptionHelp" class="form-text text-muted">Что вам нужно: портфолио, резюме, тестовое задание или все вместе? Детально опишите требования.</small>
  </div>

  <div class="field form-group">
    <%= form.label "Материалы, которые будут полезны при выполнении тестового задания"  %>
    <%= form.file_field :application_materials, :type => 'file', :class => 'form-control-file' %>
    <small id="application_materialsHelp" class="form-text text-muted">Если есть.</small>
  </div>

  <%= form.label "Дедлайн" %>
  <div class="field form-group">
    <div class="d-flex justify-content-between">
      <div class="input-group col">
        <%= date_select :internship, :deadline,
                 {
                  :order => [:day, :month, :year],
                  :start_year => 2018,
                  :end_year => 2030
                 },
                 {:class => "custom-select"}  %>
      </div>
      <div>
        <%= form.check_box :deadline_none, {}, true, false %>
        <%= form.label "Бессрочно" %>
      </div>
    </div>
  </div>

  <div class="field form-group">
    <% form.label :status %>
    <% form.number_field :status %>
  </div>

  <div class="d-flex justify-content-between mt-4 mb-5">
      <%= link_to 'Назад', internships_path, :class => 'btn btn-outline-primary' %>
      <div class="actions">
        <%= form.submit 'Обновить стажировку', :class => 'btn btn-primary' %>
      </div>
  </div>
<% end %>
