<%= form_with(model: internship, local: true) do |form| %>
  <% if internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internship.errors.count, "error") %> prohibited this internship from being saved:</h2>

      <ul>
      <% internship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :company_specialty %>
    <%= form.text_field :company_specialty %>
  </div>

  <div class="field">
    <%= form.label :company_description %>
    <%= form.text_area :company_description %>
  </div>

  <div class="field">
    <%= form.label :social_network_link %>
    <%= form.text_field :social_network_link %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :places_available %>
    <%= form.number_field :places_available %>
  </div>

  <div class="field">
    <%= form.label :intern_tasks %>
    <%= form.text_area :intern_tasks %>
  </div>

  <div class="field">
    <%= form.label :internship_duration %>
    <%= form.date_select :internship_duration %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.text_field :schedule %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.number_field :salary %>
  </div>

  <div class="field">
    <%= form.label :conditions %>
    <%= form.text_area :conditions %>
  </div>

  <div class="field">
    <%= form.label :application_contacts %>
    <%= form.text_field :application_contacts %>
  </div>

  <div class="field">
    <%= form.label :application_description %>
    <%= form.text_area :application_description %>
  </div>

  <div class="field">
    <%= form.label :application_materials %>
    <%= form.text_field :application_materials %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
