<p id="notice"><%= notice %></p>

<h1>Internships</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Company name</th>
      <th>Company specialty</th>
      <th>Company description</th>
      <th>Social network link</th>
      <th>Position</th>
      <th>Places available</th>
      <th>Intern tasks</th>
      <th>Internship duration</th>
      <th>Schedule</th>
      <th>Salary</th>
      <th>Conditions</th>
      <th>Application contacts</th>
      <th>Application description</th>
      <th>Application materials</th>
      <th>Deadline</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internships.each do |internship| %>
      <tr>
        <td><%= internship.email %></td>
        <td><%= internship.company_name %></td>
        <td><%= internship.company_specialty %></td>
        <td><%= internship.company_description %></td>
        <td><%= internship.social_network_link %></td>
        <td><%= internship.position %></td>
        <td><%= internship.places_available %></td>
        <td><%= internship.intern_tasks %></td>
        <td><%= internship.internship_duration %></td>
        <td><%= internship.internship_duration_none %></td>
        <td><%= internship.schedule %></td>
        <td><%= internship.salary %></td>
        <td><%= internship.salary_none %></td>
        <td><%= internship.conditions %></td>
        <td><%= internship.application_contacts %></td>
        <td><%= internship.application_description %></td>
        <td><%= internship.application_materials %></td>
        <td><%= internship.deadline %></td>
        <td><%= internship.deadline_none %></td>
        <td><%= internship.status %></td>
        <td><%= link_to 'Show', internship %></td>
        <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
        <td><%= link_to 'Destroy', internship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internship', new_internship_path %>
