<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%#= javascript_include_tag "daterangepicker_initializer.js" %>
  </head>
  <body>
    <%= form_with(model: @internship, local: true, :class => 'col-6 m-auto') do |form| %>
      <% if @internship.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@internship.errors.count, "error") %> prohibited this internship from being saved:</h2>

          <ul>
          <% @internship.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <h1 class="mb-4">Заявка</h1>

      <div class="field form-group">
        <%= form.label "Куда отправить заявку? *" %>
        <%= form.text_field :application_contacts, :class => 'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label "Что нужно прислать?" %>
        <%= form.text_area :application_description, :class => 'form-control', 'aria-label' => 'With textarea' %>
        <small id="application_descriptionHelp" class="form-text text-muted">Что вам нужно: портфолио, резюме, тестовое задание или все вместе? Детально опишите требования.</small>
      </div>

      <%= form.label "Материалы, которые будут полезны при выполнении тестового задания"  %>
      <div class="field form-group">
        <div class="input-group">
          <div class="custom-file">
            <%= form.file_field :application_materials, :type => 'file', :class => 'custom-file-input', :id => 'inputGroupFile01', 'aria-label' => 'inputGroupFileAddon01', :style => 'cursor: pointer;' %>
            <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
          </div>
        </div>
        <small id="application_materialsHelp" class="form-text text-muted">Если есть.</small>
      </div>

      <%= form.label "Дедлайн" %>
      <div class="field form-group">
        <div class="d-flex justify-content-between">
          <div class="input-group col">
            <%= date_select :internship, :deadline,
                     {
                      :order => [:day, :month, :year],
                      :start_year => 2018,
                      :end_year => 2030
                     },
                     {:class => "custom-select"}  %>
          </div>
          <div>
            <%= form.check_box :deadline_none, {}, true, false %>
            <%= form.label "Бессрочно" %>
          </div>
        </div>
      </div>

      <div class="field form-group">
        <% form.label :status %>
        <% form.number_field :status %>
      </div>

      <%#= form.number_field :step, value: 3 %>
      <%= form.hidden_field :step, value: 3 %>

      <div class="d-flex justify-content-between mt-4 mb-5">
          <%= link_to 'Назад', new_step_2_internship_path, :class => 'btn btn-outline-primary' %>
          <div class="actions">
            <%= form.submit 'Разместить стажировку', :class => 'btn btn-primary' %>
          </div>
      </div>
  <% end %>
  </body>
</html>
