<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @internship.email %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @internship.company_name %>
</p>

<p>
  <strong>Company specialty:</strong>
  <%= @internship.company_specialty %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @internship.company_description %>
</p>

<p>
  <strong>Social network link:</strong>
  <%= @internship.social_network_link %>
</p>

<p>
  <strong>Position:</strong>
  <%= @internship.position %>
</p>

<p>
  <strong>Places available:</strong>
  <%= @internship.places_available %>
</p>

<p>
  <strong>Intern tasks:</strong>
  <%= @internship.intern_tasks %>
</p>

<p>
  <strong>Internship duration:</strong>
  <%= @internship.internship_duration %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @internship.schedule %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @internship.salary %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @internship.conditions %>
</p>

<p>
  <strong>Application contacts:</strong>
  <%= @internship.application_contacts %>
</p>

<p>
  <strong>Application description:</strong>
  <%= @internship.application_description %>
</p>

<p>
  <strong>Application materials:</strong>
  <%= @internship.application_materials %>
</p>

<%= link_to "Download application materials", @internship.application_materials_url %>

<p>
  <strong>Deadline:</strong>
  <%= @internship.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= @internship.status %>
</p>

<%= link_to 'Edit', edit_internship_path(@internship) %> |
<%= link_to 'Back', internships_path %>
