<div class="card col-6 mr-auto ml-auto mt-5 mb-5">
  <div class="card-body">
    <% if notice != nil %>
      <p class="alert alert-primary" id="notice"><%= notice %></p>
    <% end %>

    <h5 class="card-title">О компании</h5>

    <p>
      Название компании:
      <%= @internship.company_name %>
    </p>

    <p>
      Сфера деятельности компании:
      <%= @internship.company_specialty %>
    </p>

    <p>
      О компании:
      <%= @internship.company_description %>
    </p>

    <p>
      Сайт/соцсети компании:
      <%= @internship.social_network_link %>
    </p>

    <h5 class="card-title">Требования к работнику</h5>

    <p>
      На позицию:
      <%= @internship.position %>
    </p>

    <p>
      Количество мест:
      <%= @internship.places_available %>
    </p>

    <p>
      Задачи стажера:
      <%= @internship.intern_tasks %>
    </p>

    <p>
      Стажировка длится:
      <%= @internship.internship_duration %>
      <%= @internship.internship_duration_none %>
    </p>

    <p>
      Занятость:
      <%= @internship.schedule %>
    </p>

    <p>
      Зарплата: от
      <%= @internship.salary_min %>
      до
      <%= @internship.salary_max %>
      рублей в месяц
    </p>

    <p>
      Условия:
      <%= @internship.conditions %>
    </p>

    <h5 class="card-title">Заявка</h5>

    <p>
      Заявку отправлять по адресу:
      <%= @internship.application_contacts %>
    </p>

    <p>
      Описание заявки:
      <%= @internship.application_description %>
    </p>

    <p>
      <%= link_to "Скачать материалы,", @internship.application_materials_url %>
      которые будут полезны при выполнении тестового задания
    </p>

    <p>
      Дедлайн для заявки:
      <% if @internship.deadline_none == true %>
        <%= "Бессрочно" %>
      <% else %>
        <%= @internship.deadline %>
      <% end %>
    </p>

    <p>
      Статус:
      <%= @internship.status %>
    </p>

    <div class="d-flex justify-content-between mt-4 mb-3">
      <%= link_to 'Назад', internships_path, :class => 'btn btn-outline-primary' %>
      <div class="actions">
        <%= link_to 'Редактировать', edit_internship_path(@internship), :class => 'btn btn-primary' %>
        <%= link_to 'Закрыть стажировку', internship_path(@internship), :class => 'btn btn-dark' %>
      </div>
    </div>
  </div>
</div>
